
    <footer>
        <div class="container">
            <div class="row text-light text-center py-4 justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <strong>Cơ quan chủ quản: Học viện Kỹ thuật Mật mã</strong>
                    <p>Địa chỉ: 141 đường Chiến Thắng, Tân Triều, Thanh Trì, Hà Nội</p>
                    <ul class="social pt-3">
                        <li><a href="https://www.facebook.com/hocvienkythuatmatma" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <div class="socket text-light text-center py-3">
        <p>&copy; 2015 Học viện Kỹ thuật Mật mã. All rights reserved
        </p>
    </div>
