{% extends 'student/base.html' %}
{% load static %}
{% block history_quizzes %}
    <div class="body-content">
        <div class="history_title text-center text-dark">
            <h3>Lịch sử làm bài quiz</h3>
        </div>
        <table class="table mt-4 text-center" id="history">
            <thead class="table-primary">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Bài Quiz</th>
                    <th scope="col">Điểm</th>
                    <th scope="col">Kết Quả</th>
                </tr>
            </thead>
            <tbody>
                {% for hq in history_quizzes %}
                <tr id="his-quiz">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ hq.quiz.name }} - {{ hq.quiz.subject.name }}</td>
                    <td>{{ hq.score|floatformat:2 }}</td>
                    {% if hq.score > hq.quiz.required_score_to_pass %}
                    <td>Đạt</td>
                    {% else %}
                    <td>Không Đạt</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}