/*========== GOOGLE FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

/*========== VARIABLES CSS ==========*/
:root {
    --header-height: 3rem;
    --nav-width: 230px;

    /*========== Colors ==========*/
    --first-color: #3463ff;
    --first-color-light: #f4f0fa;
    --title-color: #19181b;
    --text-color: #58555e;
    --text-color-light: #a5a1aa;
    --body-color: #ececec;
    --container-color: #ffffff;

    /*========== Font and typography ==========*/
    --body-font: "PrompSource Serif Prot", sans-serif;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 600;
    --font-semi-bold: 700;

    /*========== z index ==========*/
    --z-fixed: 100;
}

/* Man hinh lon hown 1024px */
@media screen and (min-width: 1024px) { 
    :root {
        --normal-font-size: 16px;
        --small-font-size: 16px;
        --smaller-font-size: 15px;
    }

}

/*========== BASE ==========*/
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    padding: 5px 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*========== HEADER ==========*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
}

.header__container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;
}

.header__img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header__logo {
    color: var(--title-color);
    /* font-weight: var(--font-medium); */
    display: none;
}

.header__logo:hover {
    text-decoration: none;
}

.header__search {
    display: flex;
    padding: 0.4rem 0.75rem;
    background-color: var(--first-color-light);
    border-radius: 0.25rem;
    height: 40px;
}

.header__input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--first-color-light);
}

.header__input::placeholder {
    font-family: var(--body-font);
    color: var(--text-color);
}

.header__icon,
.header__toggle {
    font-size: 1.2rem;
}

.header__toggle {
    color: var(--title-color);
    cursor: pointer;
}

/*========== NAV ==========*/
.nav-custom {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 1rem 1rem 0;
    background-color: var(--container-color);
    box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
    z-index: var(--z-fixed);
    transition: 0.4s;
}

.nav__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3rem;
    overflow: auto;
    scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
    display: none;
}

.nav__avatar {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nav__username {
    display: flex;
    justify-content: center;
    font-weight: var(--font-medium);
    margin-bottom: 40px;
}

.nav__user:hover {
    text-decoration: none;
}

.nav__list,
.nav__items {
    display: grid;
}

.nav__list {
    row-gap: 2.5rem;
}

.nav__items {
    row-gap: 1.5rem;
}

.nav__subtitle {
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--text-color-light);
}

.nav__link {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.nav__link:hover {
    color: var(--first-color);
    text-decoration: none;
}

.nav__icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.nav__name {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    white-space: nowrap;
}

.nav__logout {
    margin-top: 5rem;
}

/* Dropdown */
.nav__dropdown {
    overflow: hidden;
    max-height: 21px;
    transition: 0.4s ease-in-out;
}

.nav__dropdown-collapse {
    background-color: var(--first-color-light);
    border-radius: 10px;
    margin-top: 1rem;
}

.nav__dropdown-content {
    display: grid;
    row-gap: 0.5rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

.nav__dropdown-item {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin: 5px 0;
}

.nav__dropdown-item:hover {
    color: var(--first-color);
    text-decoration: none;
}

.nav__dropdown-icon {
    margin-left: auto;
    transition: 0.4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
    max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
    transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
    left: 0;
}

/*===== Active link =====*/
.active {
    color: var(--first-color);
}

/*============== MAIN CONTENT ================*/
#main-box {
    display: flex 1 0 auto;
}

#main-content {
    display: inline-block;
    width: calc(100% - 370px);
}

#main-box h5:before {
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(90deg, #a7c9fc, #ffd6d6);
    transition: .25s;
    z-index: -1;
    border-radius: 10px;
}

#main-box h5:hover:before {
    width: 100%;
    left: 0;
    right: auto;
}

h5 {
    height: 40px;
    font-weight: 700;
    padding: 10px;
    position: relative;
}

/*============== BODY CONTENT ==============*/
#body-content {
    padding: 10px 16px;
}

/*============== CAROUSEL ==============*/

.carousel-inner {
    max-height: 15rem!important;
    border-radius: 20px;
    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, .3);
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
}

.carousel-caption h3 {
    font-size: 1.7rem;
    font-weight: 600;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

.carousel-caption p {
    font-size: .9rem;
    font-weight: 400;
}

/*============== COURSE ===============*/
.course-container .course {
    padding: 10px 15px;
    margin: 0 0 10px;
}

.course-container .course-box {
    border-radius: 14px;
}

.course-container .course-box:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.course-box .course-name {
    font-size: 18px;
    height: 110px;
    background-color: #67a4ff; 
    padding: 5px 15px;
    border-top-left-radius: 14px; 
    border-top-right-radius: 14px;
}

.course-box .course-button {
    background-color: white; 
    border-bottom-left-radius: 14px; 
    border-bottom-right-radius: 14px;
}

.course-box .btn {
    margin: 8px;
    border-radius: 16px;
    width: 100px;
}

/*====================== COMMENT ===================*/

.comment {
    background-color: white;
    border-radius: 10px;
    color: #222c37;
    line-height: 24px;
    padding: 3px 18px;
    text-align: left;
}

.cmt-title {
    color: #171717;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
}

.cmt-form form {
    display: flex;
}

.cmt-form form input {
    height: 50px;
}

.cmt-form form button {
    width: 180px;
    height: 50px;
}

.avatar_comment {
    border-radius: 50%;
    box-shadow: #9370db 0px 0px 0px 3px;
    color: #246cf0;
    display: inline;
    line-height: 24px;
    margin: 5px 0px 0px 5px;
    text-align: left;
}

.cmt-replacement {
    border-radius: 10px;
    color: #222c37;
    line-height: 24px;
    padding: 8px 10px;
    text-align: left;
}

.cmt-heading {
    color: #707070;
    font-size: 12px;
    line-height: 18px;
    margin: 0px 0px 2px;
    text-align: left;
}

.cmt-body {
    color: #222c37;
    line-height: 24px;
    padding: 10px 0px 0px;
    text-align: left;
}

.cmt-author {
    font-size: 16px;
    font-weight: 600;
}

/*============== QUIZ ==============*/
.subject-quiz .subject {
    padding: 0 15px;
    margin: 0 0 10px;
}

.subject-quiz .btn {
    width: 195px;
    height: 80px;
    border-radius: 14px;
    font-size: 18px;
    padding: 10px;
}

.subject-quiz .btn:hover {
    box-shadow: rgba(46, 91, 240, 0.4) 5px 5px, rgba(46, 124, 240, 0.3) 10px 10px, rgba(46, 91, 240, 0.2) 15px 15px, rgba(46, 124, 240, 0.1) 20px 20px, rgba(46, 124, 240, 0.05) 25px 25px;
}

.score-to-pass {
    font-size: 18px;
    color: rgb(250, 73, 73);
    font-weight: 600;
}

#quiz-button:hover {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#quiz-container {
    padding-right: 5px 25px 5px 0;
}

#quiz-button {
    border-radius: 14px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    padding: 0 0;
}

.quiz-name {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(73, 131, 255);
    padding: 0 10px;
}

.quiz-icon-play {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.quiz-title {
    background-color: white;
    border-radius: 14px;
    padding: 20px 20px 5px;
}

.quiz-title .col-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-content {
    font-size: 18px;
}

.not-visible {
    display: none;
}

#quiz-box label,
#quiz-box input {
    cursor: pointer;
}

#score-box {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

#result-box .container {
    font-size: 18px;
    border-radius: 10px;
}

/*============== HISTORY ==============*/

#history {
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid rgb(199, 199, 199);
}

#history #his-course {
    background-color: white;
}

#history #his-course:hover {
    background-color: rgb(236, 236, 236);
}

#history #his-quiz {
    background-color: white;
}

#history #his-quiz:hover {
    background-color: rgb(236, 236, 236);
}

/*============== PROFILE ===============*/
#profile-display {
    background-color: white;
    border-radius: 14px;
    padding: 20px 40px 20px 40px;
}

.arrow {
    font-size: 40px;
}

.btn-active {
    background-color: #007bff;
}

.arrow-active {
    color:#007bff;
}



/*============== NAV RIGHT ==============*/

#nav-right p {
    /* background-image: linear-gradient(to left, #ececec, rgb(212, 211, 211));
    box-shadow: -0.5rem .5rem .5rem rgba(0, 0, 0, .3); */
    font-size: 20px;
    font-weight: 600;
}

#nav-right {
    margin-top: 10px;
    padding-left: 20px;
    width: 350px;
    float: right;
}

/*============== NOT VISIBLE ================*/
.not-visible {
    display: none;
}

/*============== CALENDAR ==============*/

/* Basis */

#calendars .btn:hover {
    color: #FFF;
    background: #455AF7;
}

#calendars .btn-day {
    font-family: 'Open Sans';
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 99;
    outline: 0;
    border-radius: 10px;
    transition: 0.4s all;
}

#calendars .btn-day.active {
    color: #FFF;
    font-weight: 600;
    z-index: 99;
}

#calendars .btn-day.active::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background: #455AF7;
    border-radius: 10px;
    z-index: -1;
}


/* Calendar */

#calendars .calendar-assets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

#calendars #currentDate {
    text-align: center;
    font-size: 20px;
}

#calendars .day-assets {
    display: flex;
    justify-content: space-between;
    width: 324px;
}

#calendars .day-assets .btn:nth-child(2) i {
    padding: 0 10px 0 0 !important;
}

#calendars .calendar {
    height: 440px;
    width: 340px;
    border-radius: 18px;
    background: #ffffff;
    padding: 10px;
    user-select: none;
    font-size: 15px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

#calendars .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px 18px 0px 0px;
    padding: 15px;
    height: 50px;
    width: 100%;
    color: #262626;
}

#calendars .month {
    font-size: 0.7em;
}

#calendars h1 {
    font-size: 30px;
}

#calendars .icon {
    padding: 10px;
    font-size: 1em;
    margin: 0 0 0 5px;
    background: #ffffff;
    color: #455af7;
    border: none;
    cursor: pointer;
    outline: 0;
}

#calendars .icon:hover {
    cursor: pointer;
}

#calendars #calendar {
    width: 100%;
}

#calendars .weekends th {
    font-size: 1em;
    color: gray;
    font-weight: 400;
    width: 40px;
    margin: 10px 0;
}

#calendars #calendar tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3px;
}

#calendars #calendar td {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;
}


/*============== FOOTER ==============*/

footer {
    margin-top: 100px;
    width: 100%;
    background-color: #383838;
    padding: 1rem;
}

footer p,
footer a,
.socket a {
    color: white;
    text-decoration: none;
}

ul.social {
    list-style-type: none;
    display: flex;
    max-width: 20rem;
    margin: 0 auto;
}

ul.social li {
    margin: 0 30px 0 0;
}

footer .svg-inline--fa {
    font-size: 2.3rem;
}

footer.svg-inline--fa:hover {
    color: #68a0d2;
}

/*============== SOCKET =============*/

.socket {
    background-color: #222222;
    border-top: .1rem solid #4891b3;
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
    .header__search {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    #main-box {
        margin: 10px;
    }
}

@media (max-width: 1199.98px) {
    .carousel-caption h1 {
        font-size: 2.8rem;
    }
    .carousel-caption h3 {
        font-size: 1.8rem;
    }
    #nav-right {
        padding: 1.25rem;
        width: 100%;
    }
    #main-content {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: 768px) {
    #main-box {
        margin: 10px 20px 0 90px;
    }

    .header {
        padding: 0 3rem 0 6rem;
    }
    .header__container {
        height: calc(var(--header-height) + 0.5rem);
    }
    .header__search {
        width: 300px;
        padding: 0.55rem 0.75rem;
    }
    .header__toggle {
        display: none;
    }
    .header__logo {
        display: block;
    }
    .header__img {
        width: 40px;
        height: 40px;
        order: 1;
    }
    .nav-custom {
        left: 0;
        padding: 1.2rem 1.5rem 0;
        width: 68px; /* Reduced navbar */
    }
    .nav__items {
        row-gap: 1.7rem;
    }
    .nav__icon {
        font-size: 1.3rem;
    }
    

    /* Element opacity */
    .nav__logo-name,
    .nav__name,
    .nav__subtitle,
    .nav__dropdown-icon,
    .nav__username,
    .nav__avatar {
        opacity: 0;
        transition: 0.3s;
    }

    /* Navbar expanded */
    .nav-custom:hover {
        width: var(--nav-width);
    }

    /* Visible elements */
    .nav-custom:hover .nav__avatar {
        opacity: 1;
    }
    .nav-custom:hover .nav__username {
        opacity: 1;
    }
    .nav-custom:hover .nav__logo-name {
        opacity: 1;
    }
    .nav-custom:hover .nav__subtitle {
        opacity: 1;
    }
    .nav-custom:hover .nav__name {
        opacity: 1;
    }
    .nav-custom:hover .nav__dropdown-icon {
        opacity: 1;
    }
}

@media screen and (max-width: 991.98px) {
    .carousel-caption h1 {
        font-size: 2.5rem;
    }
    .carousel-caption h3 {
        font-size: 1.5rem;
    }
}